
header{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.575);
    border-bottom:3px solid #ffbb33;
    margin-left: 10px;
    margin-right: 10px;
    
}

footer p{
    text-align: center;
    font-size: 12px;
}

h1:hover{
    text-decoration: underline;
    }

h2{
    color: #ffbb33;
}

.mytitle{
    font-style:bold;
}

h3{
    font-style: italic;
}

div{
    margin-left: 20px;
    margin-right: 20px;
    
}

div:hover{
    border: 1px solid #ffbb33;
    background-color: skyblue;
}

.myhover:hover{
    font-style: italic;
    font-weight: bold;
}

div p:hover{
    text-decoration: underline;

}

.myborder{
    border-bottom:1px solid #ffbb33;
}
